@charset "utf-8";


/* SCROLLBAR */

::-webkit-scrollbar{
    width: 15px;
    
}

::-webkit-scrollbar-thumb{
    background: var(--vermelho);
}


/* ROOT CORES */
:root {
    --vermelho-dark: rgba(168, 0, 0, 0.658);
    --vermelho: rgba(255, 0, 0, 0.863);
    --cinza: rgb(53, 52, 52);
}


/* formatação padrao */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Asap", sans-serif;
}


/* CORPO */
body{
    background-color: black;
}

/* Rolagem suave */
html {
    scroll-behavior: smooth;
}

/*---------LOGO NAVBAR ----------  */


.logo-img img{
    width: 15%;
    position: absolute;
    float: left;
    margin-left: -25%;
    border-radius: 30%;
    box-shadow: 0 10px 30px var(--vermelho-dark);
    z-index: 1;
    top: 1em;
    transition: all .5s ease-in-out;
}

.logo-img img:hover{
    width: 22%;
}


/* CABEÇALHO NAVBAR*/

header{
    display: flex;
    justify-content: end;
    /* background: black; */
    padding: 2em;
    text-align: center;
    box-shadow: 0 0 20px var(--vermelho);
    padding: 1.5em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    align-items: center;
    z-index: 9;
}

.navbar a {
    position: relative;
    margin-left: 2em;
    font-size: 1em;
    font-family: sans-serif;
    text-decoration: none;
    color: white;
    text-shadow: 0 0 10px black;
    transition: all .5s ease-in-out;
}

.navbar a:hover{
   color: var(--vermelho);
}

/* ANIMAÇÃO NAVBAR TEXTO */

.navbar a::after {
    content: "";
    width: 0%;
    height: 1px;
    background-color: white;
    box-shadow: 0 0 10px white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .5s ease-in-out;
}

.navbar a:hover::after {
    width: 100%;
}

/* FIM ANIMAÇÃO NAVBAR TEXTO */
/* --------FINAL BOTÃO NAVBAR */


/* MENU MOBILE */

.menu-mobile{
    background-color: black;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}



/* CONFIG MENU ABRIR */
.menu-mobile.abrir-menu{
width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}


/* ANIMAÇÃO NAVBAR TEXTO */

.menu-mobile nav a{
    text-align: right;
    text-decoration: none;
    font-size: 1.8em;
    padding: 20px 10%;
    display: block;
    color: white;
    transition: all .5s ease-in-out;
}

.menu-mobile nav a:hover{
    background-color: var(--verde-claro);
    color: black;
}

/* BOTAO DE FECHAR O MOBILE */

.menu-mobile .btn-fechar{
    padding: 10px 4%;
}

.menu-mobile .btn-fechar i{
color: var(--verde-claro);
font-size: 2.5em;
cursor: pointer;
transition: all .5s;
display: flex;
justify-content: end;
}

.menu-mobile .btn-fechar i:hover{
    color: red;
}

/* BOTAO ABRIR MENU */
.btn-abrir-menu i{
    color: white;
    font-size: 40px;
    visibility: hidden;
    cursor: pointer;
    transition: all .5s;
    display: flex;
    justify-content: end;
    text-align: end;
}

.btn-abrir-menu i:hover{
    color: black;
}


/* OVERLAY MENU */

.overlay-menu{
    background-color: rgba(0, 0, 0, 0.473);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

/* FORMATAÇÃO CELULAR HEADER E MENU MOBILE */

@media screen and (max-width: 1020px) {

    /* MENU MOBILE */
    .navbar{
        display: none;
    }

    .btn-abrir-menu i{
        color: white;
        font-size: 40px;
        visibility: visible;
        display: flex;
        justify-content: end;
        text-align: end;
    
    }

    /* LOGO */
    .logo-img img{
        width: 30%;
        margin-left: -50%;
    }

    .logo-img img:hover{
        width: 35%;

    }
    }


/* FIM MOBILE */


/* FORMATAÇÃO BOTAO DARKMODE */
section{
    top: 0;
    left: 1;

}

.darkmode label{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center ;
    align-items: center;

}


.darkmode input{
    position: absolute;
    opacity: 0;
    
}

/* ------------icones---------- */
#sun{
    position: absolute;
    font-size: 2em;
    color: gold;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.644));
    transform: scale(0);
    transition: 1s ease;
}

.darkmode input:checked~#sun{
    transition-delay: .8s ;
    transform: scale(1) rotate(360deg);
}

#moon{
    font-size: 2em;
    color: gray;
    filter: drop-shadow(0 0 2px rgba(0, 0 ,0, .5));
    transition: 1s ease;

}

.darkmode input:checked~#moon{
    transition-delay: 0s ;
    transform: rotate(360deg) scale(0);
}

/*--------final icones------------- */

.toggle{
    margin-left: -25%;
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    z-index: -1;
    transition: 1s;
}


/* DARKMODE FORMATAÇÃO FIM*/

/* DARKMODE CORPO */
.dark-mode{
    background-color: rgb(112, 112, 112);
    transition: all.5s ease-in-out;
}


/* SOBRE CONTENT*/

.main-container{
    
    margin-top: 8em;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-container .content{
    color: white;
    width: 40%;
    min-height: 100px;
}

.content h1{
    font-size: 2em;
}

.content h1 span{
    font-weight: 700;
    text-shadow: 0 0 10px var(--vermelho);
    color: var(--vermelho);
    font-size: 1.4em;
}

/*ICONES SOCIAIS  */

.icons-social{
    margin-top: 2em;
}

.icons-social i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0.2rem solid var(--vermelho-dark);
    border-radius: 50%; 
    color: var(--vermelho);
    margin: 0 15px;
    font-size: 1.5rem;
    transition: all 0.2s linear;
}

.icons-social i:hover{
    scale: 1.3;
    filter: drop-shadow(0 0 10px var(--vermelho));
    color: black;
    background-color: var(--vermelho);
}

/* FORMATAÇÃO BOTAO CURRICULUM */

.content button{
    width: 50%;
    height: 6vh;
    margin: 30px;
    background-color: var(--vermelho);
    color: white;
    border: none;
    font-size: 120%;
    outline: none;
    font-weight: 700;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.content button:hover{
    scale: 1.1;
    color: var(--vermelho);
    border: 2px solid var(--vermelho);
    background: transparent;
    font-weight: 700;
    box-shadow:  0 0 40px 5px var(--vermelho);
}


/* FORMATAÇÃO IMAGEM */
.main-container .img-foto img{
    width: 400px;
    height: 80vh;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 0 50px var(--vermelho);
    z-index: 1;
}

.main-container .img-foto:hover{
    animation: animate 3s ease-in-out infinite;
}

/* CONTEINER 2 SOFT SKILLS E HARD SKILLS */

.conteiner-2{
    margin-top: 4em;
    border-top: solid var(--vermelho);
}

/* TITULOS */
.titulo-soft{
    margin-top: 2em;
    text-align: center;
    color: white;
    font-size: 2em;
}



/* ANIMAÇÃO FOTO */

@keyframes animate {
    0%{
        scale: 1;
    }  

    50%{
        scale: 1.2;
    }  

    100%{
        scale: 1;
    }   
}

/* FORMATAÇÃO CELULAR */

@media (max-width:884px) {
    .main-container{
        display: flex;
        flex-direction: column-reverse;
    }
    
    .main-container .content{
        margin-top: 2em;
        width: 80%;
    }
}